{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": ["transform-custom-element-classes", ["component", [
    {
      "libraryName": "bfui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}
